@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

.grid-template {
  grid-template-areas:
    'image'
    'text';
}

@media (min-width: 640px) {
  .grid-template {
    grid-template-areas: 'text text image';
  }
}

.grid-template-reverse {
  grid-template-areas:
    'image'
    'text';
}

@media (min-width: 640px) {
  .grid-template-reverse {
    grid-template-areas: 'image text text';
  }
}

.grid-template-1x1 {
  grid-template-areas:
    'image'
    'text';
}

@media (min-width: 640px) {
  .grid-template-1x1 {
    grid-template-areas: 'text text image image';
  }
}

.grid-template-1x1-reverse {
  grid-template-areas:
    'image'
    'text';
}

@media (min-width: 640px) {
  .grid-template-1x1-reverse {
    grid-template-areas: 'image image text text';
  }
}

.grid-text {
  grid-area: text;
}

.grid-image {
  grid-area: image;
}
